    
    </div>
    
    <footer class="bg-dark text-white">
        <div class="container-fluid">
            <div class="row p-5 bg-dark text-white">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col">
                            <img width="60" src="img/perfil_1.jpg" class="img-fluid rounded-top" alt="">
                        </div>
                        <div class="col">
                            <p class="h5">information</p>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-12  col-md-4 col-lg-4">
                    <p class="h5">Links</p>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <p class="h5">Contacto</p>
                </div>
            </div>
        </div>
    </footer>
   
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </body>
</html>